body{
	background: $color_white;
	color: $color_base;
}

main {
   @include media (tablet-down) { padding-top: 3.5rem }
}

//* --------------- *//
//* Header elements *//
//* --------------- *//

.scrolled .header-bar{
	box-shadow: 1px 2px 10px rgba($color_black, .5);
	@include transitional;
}