.grid {
	display: grid;
	grid-auto-rows: auto;
	grid-gap: 1rem;

	@each $pos in $grid_map {
		&-cols-#{$pos} {
			grid-template-columns: repeat(#{$pos}, 1fr);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						grid-template-columns: repeat(#{$pos}, 1fr);
					}
				}
			}
		}
		&-gutter-#{$pos}{
			gap: calc(#{$pos} * 1rem);
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						gap: calc(#{$pos} * 1rem);
					}
				}
			}
		}
	}
}

.grid{
	/*Elements*/
	&__figure{
		margin: 0;
	}
	&__cat, &__views{
		font-size: .75rem;
		line-height: 1rem;
	}

	&--news{
		margin: 2rem 0;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 1rem;
		grid-auto-rows: auto;
		grid-row-gap: .5rem;
		@include media (tablet-down){
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&-news{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto;
		grid-column-gap: .5rem;
		grid-column: 4/6;
		align-items: stretch;
		.grid{
			&__figure,
			&__body{
				display: flex;
				flex-direction: column;
				justify-content: center;
				border: 1px solid red;
			}
			&__figure{
				grid-column: 1/3;
			}
			&__body{
				grid-column: 3/6;
			}
			&__title{
				font-size: 1rem;
				line-height: 1.5rem;
				margin: 0 0 .55rem;
			}
			&__cat{
				margin: 0 0 .55rem;
			}
			&__views{
				margin: 0;
			}
		}
		&.featured{
			position: relative;
			grid-column: 1/4;
			grid-row: 1/4;
			.grid{
				&__figure,
				&__body{
					grid-column: 1/6;
				}
				&__body{
					position: absolute;
					width: 100%;
					bottom: 0;
					background: rgba(black, .25);
					color: white;
					padding: 1rem;
					@include media (tablet-down){
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
					}
				}
				&__title{
					font-size: 1.5rem;
				}
			}
		}
	}

	&-album{
		position: relative;
		overflow: hidden;
		&__figure{
			overflow: hidden;
			margin: 0;
			img{
				@include transitional;
			}
		}
		&__body{
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: radial-gradient(rgba($color_black, .75), rgba($color_black, .25));
			@include flex-col-center-all;
			color: $color_white;
			cursor: pointer;
			@include transitional;
		}
	}
}