.no-touch, .no-touch:hover{
	@include transitional;
}


//*---------------*//
//*.SHOW and .HIDE*//
//*---------------*//
.hide{ display: none }
.show {
	display: block;
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

@each $media_name, $media_size in $medias_map {
	.hide\@#{$media_name} {
		@include media (#{$media_name}-down) {
			display: none !important;
			&.show\@tablet{
				@include media (tablet-down){ display: block !important }
			}
		}
	}
}

.show\@desktop {
	display: none;
	@include media (desktop-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@desktop;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@large {
	display: none;
	@include media (large-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@large;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@book {
	display: none;
	@include media (book-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@book;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@medium {
	display: none;
	@include media (medium-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@medium;
			@include media (#{$media_name}-down) {
				display: none;
				&.show\@tablet{
					@include media (tablet-down){ display: block }
				}
			}
		}
	}
}

.show\@tablet {
	display: none;
	@include media (tablet-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@tablet;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@small {
	display: none;
	@include media (small-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@small;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.show\@phablet {
	display: none;
	@include media (phablet-down) { display: block }
	@each $media_name, $media_size in $medias_map {
		&.hide\@#{$media_name} {
			@extend .show\@phablet;
			@include media (#{$media_name}-down) { display: none }
		}
	}
}

.column-reverse{
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name}{
			@include media (#{$media_name}-down){
				display: flex;
				flex-direction: column-reverse;	
			}
		}
	}
}

.peekaboo{
	@each $media_name, $media_size in $medias_map {
		&-out\@#{$media_name}{
			@include media (#{$media_name}-down){
				display: none;
			}
		}
	}
	@each $media_name, $media_size in $medias_map {
		&-in\@#{$media_name}{
			@include media (#{$media_name}-down){
				display: block;
			}
		}
	}
}

//*-----------------------------*//
//*Rewrite gridle's GUTTER class*//
//*-----------------------------*//
.gutter {
	padding: .5rem;
	&-vertical {
		padding-top: .5rem;
		padding-bottom: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
					padding-bottom: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
						padding-bottom: .5rem;
					}
				}
			}
		}
		&-double{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
	&-horizontal {
		padding-left: .5rem;
		padding-right: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
					padding-right: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
						padding-right: .5rem;
					}
				}
			}
		}
	}
	&-top {
		padding-top: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: .5rem;
					}
				}
			}
		}
	}
	&-bottom {
		padding-bottom: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: .5rem;
					}
				}
			}
		}
	}
	&-left {
		padding-left: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: .5rem;
					}
				}
			}
		}
	}
	&-right {
		padding-right: .5rem;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: .5rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-right: .5rem;
					}
				}
			}
		}
	}
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: .5rem;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: .5rem;
				}
			}
		}
	}
	&-special{
		padding-left: 0;
		@include media (small-down){
			padding: .5rem 1.5rem;
		}
		@include media (phablet-down){
			padding: .5rem;
		}
	}
	&-triple-top{
		padding: 3rem 0 0;
	}
	&-triple-right{
		padding-right: 3rem;
	}
}



//*------------*//
//*Border class*//
//*------------*//
.br {
	&-right {
		border-right: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-right: 1px solid $color_border }
			}
		}
	}

	&-left {
		border-left: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-left: 1px solid $color_border }
			}
		}
	}

	&-top {
		border-top: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-top: 1px solid $color_border }
			}
		}
	}

	&-bottom {
		border-bottom: 1px solid $color_border;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-bottom: 1px solid $color_border }
			}
		}
	}
	&-full{
		border: 1px solid $color_border;
	}
}

//*---------------*//
//*No border class*//
//*---------------*//
.no-br {
	&-right {
		border-right: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-right: none }
			}
		}
	}

	&-left {
		border-left: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-left: none }
			}
		}
	}

	&-top {
		border-top: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-top: none }
			}
		}
	}

	&-bottom {
		border-bottom: none;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { border-bottom: none }
			}
		}
	}
}


//*-----------------------------------*//
//*Border created using :after element*//
//*-----------------------------------*//
.brc {
	&-right {
		@include br-right;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-right }
			}
		}
	}

	&-left {
		@include br-left;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-left }
			}
		}
	}

	&-top {
		@include br-top;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-top }
			}
		}
	}

	&-bottom {
		@include br-bottom;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include br-bottom }
			}
			&[class*="gr-"]{
				padding-top: 1rem;
				padding-bottom: 1rem;
				&:after{
					background: $color_border;
					width: calc(100% - 1rem);
					max-width: calc(100% - 1rem);
					left: .5rem;
				}
			}
		}
	}
}

//*--------------------------------*//
//*No :after element Border element*//
//*--------------------------------*//
.no-brc {
	&-right {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-left {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-top {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}

	&-bottom {
		@include no-br;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) { @include no-br }
			}
		}
	}
}

//*----------------*//
//*Big paddings top*//
//*----------------*//
.hat {
	padding-top: 3rem;

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding-top: 3rem;
			}
			&-up {
				@include media (#{$media_name}-up) {
					padding-top: 3rem;
				}
			}
		}
	}

	&-tall {
		padding-top: 5rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 5rem;
				}
			}
		}
	}

	&-big {
		padding-top: 4rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 4rem;
				}
			}
		}
	}

	&-small {
		padding-top: 2rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 2rem;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 2rem;
					}
				}
			}
		}
	}

	&-tiny {
		padding-top: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 1rem;
				}
			}
		}
	}

	&-gutter {
		padding-top: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: .5rem;
				}
			}
		}
	}

	&-not {
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
				}
			}
		}
	}
}

//*----------------*//
//*Big paddings bottom*//
//*----------------*//
.heels {
	padding-bottom: 3rem;

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding-bottom: 3rem;
			}
		}
	}

	&-tall {
		padding-bottom: 5rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 5rem;
				}
			}
		}
	}

	&-big {
		padding-bottom: 4rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 4rem;
				}
			}
		}
	}

	&-small {
		padding-bottom: 2rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 2rem;
				}
			}
		}
	}

	&-tiny {
		padding-bottom: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 1rem;
				}
			}
		}
	}

	&-gutter{
		padding-bottom: .5rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: .5rem;
				}
			}
		}
	}

	&-not {
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0;
				}
			}
		}
	}
}

//*---------------------------*//
//*Big paddings left and right*//
//*---------------------------*//
.mv{
	&-right{
		padding-right: 1rem;

		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 1rem;
				}
			}
		}

		&-double {
			padding-right: 2rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 2rem;
					}
				}
			}
		}

		&-triple {
			padding-right: 3rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 3rem;
					}
				}
			}
		}

		&-not {
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: 0;
					}
				}
			}
		}
	}
	&-left{
		padding-left: 1rem;

		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 1rem;
				}
			}
		}

		&-double {
			padding-left: 2rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 2rem;
					}
				}
			}
		}

		&-triple {
			padding-left: 3rem;
			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 3rem;
					}
				}
			}
		}

		&-not {
			@each $media_name, $media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: 0;
					}
				}
			}
		}
	}
}


//*---------------*//
//*No gutter class*//
//*override all of above*//
//*---------------------*//
.no-gutter {
	padding: 0;

	&-important {
		padding: 0!important;
	}

	&-vertical {
		padding-top: 0;
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&-horizontal {
		padding-left: 0;
		padding-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0;
					padding-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	&-top {
		padding-top: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 0;
					}
				}
			}
		}
	}

	&-bottom {
		padding-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&-left {
		padding-left: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 0;
					}
				}
			}
		}
	}

	&-right {
		padding-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding-right: 0;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 0;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 0;
				}
			}
		}
	}
}

.gutter {
	padding: .5rem;
	&-double {
		padding: 1rem;
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding: 1rem;
				}
			}
		}
		&-vertical{
			@each $media_name,$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding: 1rem 0;
					}
				}
			}
		}
		&-horizontal{
			@each $media_name,$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding: 0 1rem;
					}
				}
			}
		}
	}
}

.min-gutter {
	padding: 1px;
	&-top {
		padding-top: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-top: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-top: 1px;
					}
				}
			}
		}
	}
	&-bottom {
		padding-bottom: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-bottom: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-bottom: 1px;
					}
				}
			}
		}
	}
	&-left {
		padding-left: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-left: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-left: 1px;
					}
				}
			}
		}
	}
	&-right {
		padding-right: 1px;
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding-right: 1px;
				}
				&-up {
					@include media (#{$media_name}-up) {
						padding-right: 1px;
					}
				}
			}
		}
	}
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				padding: 1px;
			}

			&-up {
				@include media (#{$media_name}-up) {
					padding: 1px;
				}
			}
		}
	}
}

.bg{
	&-dark{
		background: $color_dark;
		color: $color_white;
	}
	&-white{
		background: $color_white;
	}
	&-light {
		background: $color_light;
	}

	&-white {
		background: $color_white;
	}

	&-gray {
		background: $color_grey_regular;
	}

	&-dark {
		background: $color_dark;
	}

	&-black {
		background: $color_black;
	}

	&-main {
		background: $color_main_regular;
		color: $color_white;
	}
	&-clear{
		background: $color_light;
	}

	&-mariner{
		background: linear-gradient(to bottom, $color_white, $color_secondary_regular 52%, $color_white);
	}
}

.margin {
	&-bottom {
		margin-bottom: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	&-top {
		margin-top: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 1rem;
				}
			}
		}
		&-2{
			margin-top: 2rem;

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						margin-top: 2rem;
					}
				}
			}
		}
	}

	&-left {
		margin-left: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 1rem;
				}
			}
		}
	}

	&-right {
		margin-right: 1rem;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-right: 1rem;
				}
			}
		}
	}
}

.no-margin {
	margin: 0;

	&-vertical {
		margin-top: 0;
		margin-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0;
					margin-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&-horizontal {
		margin-left: 0;
		margin-right: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-left: 0;
					margin-right: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}

	&-top {
		margin-top: 0 !important;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0 !important;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0 !important;
					}
				}
			}
		}
	}

	&-bottom {
		margin-bottom: 0;

		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-bottom: 0;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@each $media_name,
	$media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				margin: 0;
			}

			&-up {
				@include media (#{$media_name}-up) {
					margin: 0;
				}
			}
		}
	}
}

.row.row--full{
	width: 100% !important;
	max-width: 100% !important;
	left: 0 !important;
	margin: 0 0 0 0 !important;
}

.row{
	&.no-margin{
		@each $media_name,
		$media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					margin-top: 0;
					margin-bottom: 0;
					margin-left: 0;
					margin-right: 0;
					width: 100% !important;
					max-width: 100% !important;
				}

				&-up {
					@include media (#{$media_name}-up) {
						margin-top: 0;
						margin-bottom: 0;
						margin-left: 0;
						margin-right: 0;
						width: 100% !important;
						max-width: 100% !important;
					}
				}
			}
		}
	}
}

.full-height{
	height: 100%;
}

.relative{
	position: relative;
	z-index: 2;
	@each $media_name, $media_size in $medias_map {
		&\@#{$media_name} {
			@include media (#{$media_name}-down) {
				position: relative;;
			}
		}
	}
}

.container{
	&.no-gutter{
		@each $media_name, $media_size in $medias_map {
			&\@#{$media_name} {
				@include media (#{$media_name}-down) {
					padding: 0;
					.row{
						margin-left: 0;
						margin-right: 0;
					}
				}

				&-up {
					@include media (#{$media_name}-up) {
						padding: 0;
						.row{
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.no-radius {
	border-radius: 0;
}

.no-border {
	border: 0;
}

.text{
	&-light{
		*{
			color: $color_white;
		}
	}

	&-dark{
		*{
			color: $color_dark;
		}
	}
}

.span{
	&-break{
		>span{
			display: block;
			width: 100%;
		}
	}
}

.w{
	@each $weight_name, $weight_size in $weights_map {
		&-#{$weight_name}{
			font-weight: $weight_size;
		}
	}
}

.case{
	&-normal{
		text-transform: none;
	}
	&-upper{
		text-transform: uppercase;
	}
	&-lower{
		text-transform: lowercase;
	}
}

select[required]{
	transition: 0s;
}

.bg-none{
	background: transparent;
}

.no-overflow{
	overflow: hidden;
}

.gutter {
	@for $i from 1 through 20 {
		&-vertical-#{$i} {
			padding-top: calc(#{$i} * 1rem);
			padding-bottom: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-top: calc(#{$i} * 1rem);
						padding-bottom: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-top: calc(#{$i} * 1rem);
							padding-bottom: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-horizontal-#{$i} {
			padding-left: calc(#{$i} * 1rem);
			padding-right: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: calc(#{$i} * 1rem);
						padding-right: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: calc(#{$i} * 1rem);
							padding-right: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-left-#{$i} {
			padding-left: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-left: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-left: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-right-#{$i} {
			padding-right: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-right: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-right: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-top-#{$i} {
			padding-top: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-top: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-top: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}

		&-bottom-#{$i} {
			padding-bottom: calc(#{$i} * 1rem);

			@each $media_name,
			$media_size in $medias_map {
				&\@#{$media_name} {
					@include media (#{$media_name}-down) {
						padding-bottom: calc(#{$i} * 1rem);
					}

					&-up {
						@include media (#{$media_name}-up) {
							padding-bottom: calc(#{$i} * 1rem);
						}
					}
				}
			}
		}
	}
}

.z{
	@for $i from 1 through 20 {
		&-#{$i}{
			z-index: $i;
		}
	}
}

.wait,.open{
	opacity: .5;
	pointer-events: none;
}

.slider{
	&--diapo{
		.slider{
			&__slide{
				&:not(.active){
					img{
						display: none !important;
					}
				}
			}
		}
	}
}

[data-parent].sending{
	position: relative;
	overflow: hidden;
	pointer-events: none;
	.form{
		opacity: .5;
	}
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(white, .75) url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22%23bbb%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) center center no-repeat;
		background-size: 4rem;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
}