@media print {
   body a[href]:after {
   	content: none !important;
   }
   .gr-9.gr-8\@large.gr-12\@tablet,
   .gr-8.gr-12\@tablet,
   .gr-9.gr-12\@tablet,
   .gr-7.gr-8\@large.gr-12\@tablet{
   	width: 100% !important;
   	max-width: 100% !important;
   	flex-basis: 100% !important;
   	margin: 0;
   }
   .gr-3.gr-4\@large.gr-12\@tablet,
   .gr-4.gr-12\@tablet,
   .nav-bar__body,
   .single__iframe,
   .footer-bar,
   .hover-menu,
   .single__share,
   .gr-3.hide\@tablet,
   .gr-5.gr-4\@large.gr-12\@tablet.no-gutter-at-tablet,
	.horizon.full,
	.subfooter,
	.gr-1.hide\@tablet,hide\@print{
   	display: none;
   }
   .single__collapse__body{
   	display: block;
   }
   .horizon{
   	&.overlay{
   		background: white;
   		background-image: none !important;
   		.horizon{
   			&__veil{
   				background: transparent;
   				opacity: 1;
   			}
   			&__body{
   				padding: 2rem 0;
   				display: block;
   				margin: 0;
   				display: block;
   				text-align: left;
   			}
   		}
   	}
	}
	.box{
		&--project{
			.box{
				&__body{
					margin: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
}

pre {
   white-space: pre-wrap;
   /* css-3 */
   white-space: -moz-pre-wrap;
   /* Mozilla, since 1999 */
   white-space: -pre-wrap;
   /* Opera 4-6 */
   white-space: -o-pre-wrap;
   /* Opera 7 */
   word-wrap: break-word;
   /* Internet Explorer 5.5+ */
   background: dimgray;
   color: white;
   padding: 1em;
   font-size: 14px;
}