$deploy_nav: 'tablet-down';
$deploy_nav_up: 'tablet-up';
////////////////////////////////////////
//////////////////////////////////////// Header general
////////////////////////////////////////
.header-bar { 
	background-color: $color_white;
	@include media ($deploy_nav){
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
		box-shadow: 1px 2px 10px rgba($color_dark, .25);
	}
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
	}
}

.menu-item {
   display: block;
   margin: 0;
   align-items: center;
	font-size: map-get($text_sizes, tiny);
   @include transitional;
   a{
      display: block;
      width: 100%;
      flex-basis: 100%;
		padding: .75rem;
		color: $color_main_regular;
		@include transitional;
		@include active-state{
			color: $color_secondary_regular;
		}
	}
	&-has-children{
		position: relative;
		>a{
			padding-right: .75rem;
		}
		.click-handler{
			content: $icon-chevron_down;
			font-size: map-get($text_sizes, ten);
			line-height: 1.2;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%) rotateX(0deg);
			z-index: 4;
			pointer-events: none;
			@include transitional;
		}
		@include media ($deploy_nav_up){
			&:hover{
				.click-handler{
					transform: translateY(-50%) rotateX(180deg);
					@include transitional;
				}
				.submenu{
					display: block;
					@include fadeIn( $count: 1, $duration: $base_transition);
				}
			}
		}
	}
	&.current-menu-item{
		font-weight: $weight_semibold;
	}
   @include media( $deploy_nav) {
      display: block;
      width: 100%;
      background: $color_white;
		font-size: map-get($text_sizes, regular);
		font-weight: $weight_regular;
		a{
			color: $color_base;
			padding: .75rem;
		}
		&.current-menu-item, &.current-page-parent, &.current{
			>a{
				color: $color_main_regular;
				@include transitional;
			}
		}
		&.menu-item-has-children{
			>a{
				padding-right: 2.5rem;
				width: calc(100% - 3.5rem);
			}
			.click-handler{
				transform: rotateX(0);
				top: 0;
				font-size: 1rem;
				height: 3rem;
				width: 3rem;
				z-index: 5;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color_white;
				background: $color_main_regular;
				pointer-events: all;
			}
			&.deployed {
				background: $color_light;
				@include transitional;
				.click-handler{
					transform: rotateX(180deg);
					background: $color_main_dark;
				}
				.submenu{
					display: block;
					@include fadeIn( $count: 1, $duration: $base_transition);
				}
			}
		}
   }
}

.submenu {
	@include reset-list;
   display: none;
   width: auto;
   position: absolute;
   top: 100%;
   left: 0;
	z-index: 5;
	background: $color_light;
	box-shadow: 0px 4px 2px rgba($color_base, .25);
	@include transitional;
	.menu-item{ margin: 0 }
	@include media ($deploy_nav_up){ min-width: 120% }
	@include media ($deploy_nav){
		padding: 0 .5rem;
		position: static;
		.menu-item{
			background: $color_light;
			a{
				font-size: $size_14;
				padding: .75rem;
			}
		}
	}
}

.top-bar {
   background: $color_light;
   padding: .25rem 0;
   height: auto;
   @include transitional;
   &__items {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
	}
	&__menu{
		display: flex;
		margin: 0;
		padding: 0;
	}
   .menu-item {
      display: block;
      a{
			color: $color_base;
			font-weight: $weight_regular;
			font-size: map-get($text_sizes, ten);
			line-height: 1.2;
			padding: .25rem .5rem;
			@include active-state{
				color: $color_main_regular;
				text-decoration: underline;
				@include transitional;
			}
		}
		&.current-menu-item{
			a{
				font-weight: $weight_medium;
			}
		}
		&.menu-item-has-children{
			position: relative;
			>a{
				padding-right: .75rem;
			}
			
		}
	}

	@include media ($deploy_nav){
		&__menu{
			flex-direction: column;
			width: 100%;
			margin-top: 1rem;
		}
	}
}

.nav-bar {
   background: rgba($color_grey_lighter, .5);
   padding: 1rem 0;
   @include transitional;
   &__holder {
      display: flex;
   }
   &__brand,
   &__body {
      max-width: 100%;
      display: flex;
      align-items: center;
   }
   &__brand {
      flex: 0 0 auto;
   }
   &__body {
      flex: 1 1 auto;
   }
   &__menu-holder {
      width: 100%;
      display: flex;
		justify-content: flex-end;
		
		.menu-item{
			font-weight: $weight_regular;
			text-transform: uppercase;
			>a{
				@include active-state{
					background: $color_main_regular;
					color: $color_white;
					text-decoration: none;
					@include transitional;
					+.click-handler{
						color: $color_white;
					}
				}
			}
		}
   }
   &__menu {
      @include reset-list;
      display: flex;
      justify-content: flex-end;
   }
   @include media( $deploy_nav) {
      position: relative;
      padding: 0;
      &__brand {
			flex: 0 1 auto;
         order: 2;
			justify-content: center;
			width: 100%;
			width: calc(100% - 7rem);
			margin: 0 3.5rem;
			max-width: 100%;
			height: 100%;
			.app-brand{ max-width: 85% }
      }
      &__body {
         background: transparent;
         order: 1;
         position: absolute;
         z-index: 1000;
         top: 0;
         left: 0;
         transform: translateY(-100%);
			width: 100%;
			z-index: 9;
         height: 100vh;
			display: block;
			@include transitional;
			&.deployed{
				transform: translateY(3.5rem);
				@include transitional;
			}
      }
      &__menu-holder {
         margin: 0;
         display: block;
         background: map-get(map-get($colors_map, grey), light);
         height: 100%;
         overflow-y: auto;
         -webkit-overflow-scrolling: touch;
      }
      &__menu {
         margin: 0;
			display: block;

			&-holder {
				padding: 1rem;
				height: 3.5rem;
				position: fixed;
				overflow-y: scroll;
				height: calc(100vh - 3.5rem);
				width: 100%;
			}
		}
		&__mobile{
			&-head{
				width: 100%;
				height: 100%;
				min-height: 3.5rem;
				z-index: 11;
				background: $color_white;
			}
			&-menu, &-search{
				content: 'x';
				border: none;
				width: 3.5rem;
				height: 3.5rem;
				position: absolute;
				color: $color_white;
				top: 0;
				&:focus{
					outline: none;
				}
				span {
					display: block;
					margin: 0 auto;
					width: 1.75rem;
					height: 2px;
					background: $color_white;
					position: relative;
					@include transitional;
					&::before,
					&::after {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						background: $color_white;
						position: absolute;
						left: 0;
						right: 0;
						top: calc(50% - 1px);
						transform: rotateZ(0);
						@include transitional;
					}
					&::before {
						transform: translateY(-8px) rotateZ(0);
					}
					&::after {
						transform: translateY(8px) rotateZ(0);
					}
				}
				&.deployed {
					background: $color_secondary_regular;
					span {
						background: transparent;
						&::before {
							transform: translateY(0) rotateZ(45deg);
						}
						&::after {
							transform: translateY(0) rotateZ(-45deg);
						}
					}
				}
			}
			&-menu{
				left: 0;
				background: $color_main_regular;
			}
			&-search{
				right: 0;
				background: $color_secondary_regular;
				display: flex;
				align-items: center;
				justify-content: center;
				&:after{
					@include get-icon($icon-search);
					color: $color_white;
					font-size: 1.5rem;
					@include transitional;
				}
				span, span:before, span:after{
					background: transparent;
					transition: 0s;
				}
				span{ top: 1.15rem }
				&.deployed {
					background: $color_main_regular;
					span:before, span:after{
						background: $color_white;
						@include transitional;
					}
					&:after{ color: transparent }
				}
			}
		}
	}
	
	&--left-deploy{
		@include media ($deploy_nav){
			.nav-bar{
				&__body{
					transform: translate(-100%, 3.5rem);
					@include transitional;
					&.deployed{
						transform: (translate(0, 3.5rem));
						@include transitional;
					}
				}
			}
		}
	}

	&--right-deploy{
		@include media ($deploy_nav){
			.nav-bar{
				&__body{
					transform: translate(100%, 3.5rem);
					@include transitional;
					&.deployed{
						transform: translate(0, 3.5rem);
						@include transitional;
					}
				}
			}
		}
	}
}