.modal {
   display: block;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba($color_main_regular, 0);
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   transition: all 1ms ease;
   z-index: 9999999;

   .container {
      min-height: calc(100% - 6rem);
      margin: 3rem auto;
      display: flex;
      align-items: center;

   }

   &__body {
      touch-action: pan-y;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      position: relative;
      // transform: translateY(-50%);

      @each $col in $cols_map {
         &.gr-#{$col} {
            flex-basis: calc((100% / 12) * #{$col});
            max-width: calc((100% / 12) * #{$col});
            min-width: calc((100% / 12) * #{$col});
            width: calc((100% / 12) * #{$col});
            transition: 0s;

            @each $media_name,
            $media_size in $medias_map {
               &\@#{$media_name} {
                  @include media (#{$media_name}-down) {
                     $total: calc(100% / 12);
                     flex-basis: calc(#{$total} * #{$col});
                     max-width: calc(#{$total} * #{$col});
                     min-width: calc(#{$total} * #{$col});
                     width: calc(#{$total} * #{$col});
                     transition: 0s;
                  }
               }
            }
         }
      }
   }

   &__content {
      display: block;
      width: 100%;
      position: relative;
      transform: translateY(4rem);
      opacity: 0;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      @include transitional;

      &.loaded {
         box-shadow: 0 3px 23px 0 rgba($color_dark, .35);
         transform: translateY(0);
         opacity: 1;
         @include transitional;
      }
   }

   &__button {
      @include reset-appearance;
      top: .5rem;
      right: .5rem;
      z-index: 2;
      position: absolute;
      color: $color_white;
      border: 1px solid $color_main_regular;
      background: $color_main_regular;
      font-size: 1.75rem;
      opacity: 0;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      right: -.5rem;
      top: -.5rem;
      @include transitional;

      &:after {
         @include get-icon($icon-close);
      }

      &:hover,
      &:focus,
      &:visited {
         background: $color_main_regular;
         color: $color_white;
         @include transitional;
      }

      &.loaded {
         opacity: 1;
         @include transitional;
      }

      @include media (small-down) {
         // right: .25rem;
         // top: .25rem;
      }
   }

   &-box {
      background: $color_white;
      padding: 3rem;

      @include media (small-down) {
         padding: 2rem;
      }

      &__title {
         font-size: $size_32;
         font-weight: $weight_regular;
         line-height: 1.3;
         letter-spacing: 0.25px;
         color: $color_main_regular;

         &.loading,
         .loading {
            opacity: .25;
         }
      }

      &__excerpt {
         margin: 1rem 0 0;
         font-size: $size_18;
         font-family: $font_serif;
         font-weight: $weight_medium;
         line-height: 1.4;
         letter-spacing: .15px;
         color: $color_base;
      }

      &__action {
         margin: 1.5rem 0 0;
         display: flex;
         justify-content: center;
      }

      &__header {
         display: flex;

         .modal-box__title {
            flex: 3;
         }

         .form-control__field--select {
            flex: 1;
         }

         @include media ($deploy_nav_down) {
            flex-direction: column;
         }
      }

      &__decks {
         margin: 2rem 0 0;

         &.loading {
            opacity: .25;
         }
      }

      &__ship {
         &__tags {
            display: flex;
            list-style: none;
            margin: 1.5rem 0;
            padding: 0;

            .tag {
               &__item {
                  display: flex;
                  align-items: center;
                  margin: 0;

                  .icon {
                     display: block;
                     width: 1rem;
                     height: 1rem;
                     border-radius: 50%;
                     margin-right: 4px;
                  }

                  +.tag__item {
                     margin-left: 1rem;
                  }
               }
            }
         }

         &__deck {
            display: flex;
            justify-content: center;

            +.modal-box__ship__deck {
               margin: 5rem 0 0;
            }
         }
      }

      &__group {

         &.loading,
         .loading {
            opacity: .25;
         }
      }

      &--table {
         .modal-box__action {
            margin-top: 2rem;
            justify-content: flex-end;
         }
      }

      &__loader {
         height: 100px;
         position: relative;
         pointer-events: none;

         &:before {
            content: "";
            z-index: 100;
            position: absolute;
            left: 0;
            top: 5%;
            width: 100%;
            height: 90%;
         }

         &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 5%;
            width: 100%;
            height: 90%;
            background: $loading_article;
            -webkit-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            animation-fill-mode: both;
            z-index: 100;
         }
      }
   }

   &--loaded {
      background: rgba($color_white, .75);
   }
}